@model Dialog.Behoerdenloesung.Sitzungen.UI.Web.Models.TraktandumViewModel 

@using System.Web.UI.WebControls
@using Dialog.Behoerdenloesung.Sitzungen.UI.Web.Helpers 

@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI
@using DevExpress.Web.ASPxHtmlEditor

@{
    ViewBag.Title = "Traktandum";
}

@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
    new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
)

@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.Chart },
    new Script { ExtensionSuite = ExtensionSuite.Report },
    new Script { ExtensionSuite = ExtensionSuite.Scheduler },
    new Script { ExtensionSuite = ExtensionSuite.TreeList }
)

<div class="row" style="margin-top: 20px">
    <div class="col-md-10">
        <input type="hidden" id="traktandId" value="@(Model.Traktand.TbGESTraktanden_id)" />
        <div>@Model.Typ</div>
        <div>@Model.GeschaefstTitel</div>
        <div>@Model.Traktand.Titel</div>
    </div>
    <div class="col-md-2" style="text-align:right">
        @if (Model.PreviousId.HasValue)
        {
            <a href="~/Sitzungen/Traktandum/@(Model.PreviousId.Value)"><span style="font-size: 2em; margin-right: 20px" class="glyphicon glyphicon-circle-arrow-left"></span></a>
        }
        @if (Model.NextId.HasValue)
        {
            <a href="~/Sitzungen/Traktandum/@(Model.NextId.Value)"><span style="font-size: 2em" class="glyphicon glyphicon-circle-arrow-right"></span></a>
        }
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="col-md-@(Model.Beilagen.Count > 0 ? 8 : 12)">
        @if (Model.HatProtokoll)
        {
            <div class="text-primary">@Model.ProtokollTitle</div>
            <div class="form-group">
                <div class="col-md-12" style="margin-left:-15px; margin-right:-15px">
                    @Html.DevExpress().HtmlEditor(settings =>
                    {
                        settings.Name = "myHtmlEditor";
                        settings.Width = new Unit(100, UnitType.Percentage);
                        settings.Height = new Unit(300, UnitType.Pixel);
                        settings.ToolbarMode = HtmlEditorToolbarMode.None;
                        settings.ActiveView = HtmlEditorView.Preview;
                        settings.Enabled = false;
                        settings.Html = Model.Html;
                        if (Model.CssFiles != null)
                        {
                            settings.CssFiles.Clear();
                            settings.CssFiles.AddRange(Model.CssFiles);
                        }
                        settings.ControlStyle.Paddings.PaddingTop = new Unit(0);
                        settings.ControlStyle.Paddings.PaddingLeft = new Unit(0);
                        settings.ControlStyle.Paddings.PaddingRight = new Unit(0);
                        settings.ControlStyle.Paddings.PaddingBottom = new Unit(0);
                        settings.Settings.AllowHtmlView = false;
                        settings.Settings.AllowDesignView = false;
                    }).GetHtml()
                </div>
            </div>
        }
    </div>
    @if (Model.Beilagen.Count > 0)
    {
        <div class="col-md-4">
            <div class="table-bordered table-striped">
                <div class="text-info">Beilagen</div>
                <table class="table">
                    @foreach (var item in Model.Beilagen)
                    {
                        <tr data-id="@(item.Id)">
                            <td>@(item.DateiName.Length > 23 ? item.DateiName.Substring(0, 20) + "..." + Path.GetExtension(item.DateiName) : item.DateiName)</td>
                            <td><a class="downloadDatei" href="#"><div class="glyphicon glyphicon-download-alt"></div></a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>

<form role="form">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <label class="control-label" for="commentDatum">Datum:</label>
            @Html.DevExpress().DateEdit(settings =>
            {
                settings.Name = "commentDatum";
                settings.Properties.DisplayFormatString = "dd.MM.yyyy";
                settings.Properties.EditFormatString = "dd.MM.yyyy";
                settings.Date = Model.StellungnahmeDatum;
            }).GetHtml()
            <label class="control-label" for="commentStatus">Status:</label>
            @Html.DropDownList("commentStatus", Model.KommentarCdList, new { @class = "form-control" })
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <label class="control-label" for="commentText">Bemerkung</label>
            <textarea class="form-control" rows="5" id="commentText" style="min-width:100% !important">@Model.Bemerkungen</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="width:100%; margin-top: 20px;float:right; text-align: right">
            <div id="commentSave" class="btn btn-default">Speichern</div>
            <a href="~/Sitzungen/Sitzung/@(Model.Traktand.TbGESSitzung_id)" class="btn btn-default">Zurück</a>
        </div>
    </div>
</form>


@*<form class="form-horizontal" role="form">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12 text-primary">Stellungnahme</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table><tr><td>Datum&nbsp;</td>
                <td>@Html.DevExpress().DateEdit(settings =>
            {
                settings.Name = "commentDatum";
                settings.Properties.DisplayFormatString = "dd.MM.yyyy";
                settings.Properties.EditFormatString = "dd.MM.yyyy";
                settings.Date = Model.StellungnahmeDatum;
            }).GetHtml()</td></tr></table>                       
        </div>
        <div class="col-md-6" style="text-align:right; white-space:nowrap">
            Status&nbsp;
            @Html.DropDownList("commentStatus", Model.KommentarCdList)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    <textarea class="form-control" rows="3" id="commentText"
                              style="min-width:100% !important">@Model.Bemerkungen</textarea>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%; margin-top: 20px;float:right; text-align: right">
        <div id="commentSave" class="btn btn-default">Speichern</div>
        <a href="~/Home/Sitzung/@(Model.Traktand.TbGESSitzung_id)" class="btn btn-default">Zurück</a>
    </div>
</form>*@

@section scripts {
    <script type="text/javascript" src="/Scripts/Behoerdenloesung/Traktandum.js"></script>    
    @*<script type="text/html" id="item-template">
        <a href="#" data-id="" class="list-group-item dialog-item" 
           data-bind="text: Description, attr: { 'data-id': TraktandId }"></a>
    </script>*@  
}

@section navbarex
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Sitzungen", "Sitzungen", "Sitzungen")</li>
        <li>@Html.ActionLink("Sitzung", "Sitzung", "Sitzungen", new { id = Model.Traktand.TbGESSitzung_id }, null)</li>
        @*<li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
    </ul>
}
