@using DialogPortal.Controllers
@{
    var v = typeof (HomeController).Assembly.GetName().Version;
    var version = "";
    if (v.Build == 0)
    {
        version = string.Format("{0}.{1}", v.Major, v.Minor);
    }
    else
    {
        version = string.Format("{0}.{1}.{2}", v.Major, v.Minor, v.Build);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Behördenlösung</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                @Html.ActionLink("Behördenlösung", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @RenderSection("navbarex", required: false)
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-xs-8 col-sm-6 text-left">
                    <a href="http://archivplan.dialog.ch/">HRM2 Archivplan</a> - Version @version<br />
                    &copy; <a href="http://www.dialog.ch/">@DateTime.Now.Year Dialog Verwaltungs-Data AG</a>
                </div>
                <div class="col-xs-4 col-sm-6 text-right">
                    <div style="text-align:left">
                        Anleitung<br />
                        <a href="Behoerdenloesung.pdf" target="new">Behördenlösung</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>